* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cabin', sans-serif;
    background: #EEEEEF;
    
}

.wrapper {
    width: 1400px;
    margin: 0px auto;
}

header {
    background-color: #6D91DC;
}

.header-container {
    height: 72px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 16px 52px;
}

.header-container a{
    color: #F8FDFE;
    font-family: 'Rochester', cursive;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 28px;
    line-height: 36.05px;
}

.header-bin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.header-bin span {
    color: #F8FDFE;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.header-bin button {
    width: 40px;
    height: 40px;
    border: none;
    background: none;
}

.header-nav {
    background-color: #FFFFFF;
    padding: 4px 52px;
    display: flex;
    justify-content: space-between;
}

.nav-right {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

li {
    list-style-type: none;
}

.nav-li-item {
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

main {
    padding-top: 32px;
}

.main-title {
    margin: 0px 52px;
    border-bottom: 1px solid #A8A8A8;
}

.main-title h2 {
    margin-bottom: 23px;
}

h2 {
    color: #1F1F1F;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
}

h3 {
    color:#1F1F1F;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

h4 {
    color: #1F1F1F;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

h5 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    border-bottom: 1px solid #A8A8A8;
    margin-bottom: 7px;
}


.main-form {
    margin: 56px 162px 0px 162px;
    display: flex;
    justify-content: center;
    gap: 130px;
}

.form-input-container {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

fieldset {
    border: none;
}

input,
textarea {
    color: #1F1F1F;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #8E8E8E;
    background-color: #F5F5F5;
    width: 416px;
}

input {
    height: 44px;
}

textarea::placeholder,
input::placeholder {
    color: #8E8E8E;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

textarea:focus,
input:focus {
    outline: none;
    border: 1.5px solid #2080F6;
    box-shadow: 0 0 3px 3px rgba(36, 100, 241, 0.15);
}

.input-container-item {
    margin-top: 8px;
    position: relative;
}

.input-container-item img {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 18px;
    right: 10px;
    bottom: 16px;
    display: none;
}

textarea:focus + .clear-icon,
input:focus + .clear-icon {
    display: block; 
}

.form-comment-container,
.form-address-container {
    margin-top: 32px;
    position: relative;
}

textarea {
    resize: none;
    height: 104px;
    margin-top: 8px;
}

.form-comment-container img,
.form-address-container img {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 45px;
    right: 10px;
    display: none;
}

.form-date-container {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.form-date-container input {
    width: 120px;
    height: 28px;
}

.form-date-container img {
    width: 10px;
    height: 10px;
    position: absolute;
    right: 10px;
    top: 9px;
    display: none;
}

.form-payment-container,
.form-request-container {
   margin-top: 32px; 
}

.form-request-container span {
    color: #8E8E8E;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.request-radio-yes,
.request-radio-no {
    margin-top: 24px;
}

.request-radio input,
.request-radio-yes input,
.request-radio-no input {
    height: 16px;
    width: 16px;
    vertical-align: middle;
}

.request-radio input:focus,
.request-radio-yes input:focus
.request-radio-no input:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.request-radio label,
.request-radio-yes label,
.request-radio-no label {
    display: inline-block;
    margin-left: 8px;
    vertical-align: middle;
}

.request-radio-no {
    margin-top: 16px !important;
}

.form-payment-container .request-radio {
    margin-top: 24px;
}

.form-payment-container div:nth-of-type(n+2) {
    margin-top: 16px;
}

.main-form-right {
    background-color: #F5F5F5;
    padding: 40px;
    height: fit-content;
}

.form-sushi-quantity {
    margin-top: 32px;
    display: flex;
    gap: 24px;
    border-bottom: 1px solid #A8A8A8;
    padding-bottom: 42px;
}

.form-sushi-quantity img {
    width: 131px;
    height: 120px;
}

.sushi-quantity-item span {
    color: #8E8E8E;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.sushi-quantity-counter {
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 53px;
    height: 32px;
    user-select: none;
    border: 1px solid #8E8E8E;
    border-radius: 4px;
}

.sushi-quantity-counter span {
    color: #1F1F1F;
}

.sushi-quantity-counter button {
    border: none;
    background: none;
    font-size: inherit;
}

.sushi-quantity-price {
    color: #E90000;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}

.form-sushi-total {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
}

.form-sushi-total span {
    line-height: 27px;
}

.form-sushi-checkbox {
    margin-top: 32px;
    display: flex;
    align-items: center;
    gap: 8px;
}

input[type=checkbox] {
    width: 16px;
    height: 16px;
}

.form-sushi-buttons {
    margin-top: 16px;
}

.form-sushi-buttons button {
    width: 215px;
    height: 40px;
    background-color: #3D76BA;
    border-radius: 4px;
    border: none;
    color: #F8FDFE;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.form-sushi-buttons button[type=reset] {
    background-color: #DEDEDE;
    color: #1F1F1F;
}

.form-sushi-buttons button[type=reset]:hover {
    background-color: #EEEEEE;
}

.form-sushi-buttons button[type=submit]:hover {
    background-color: #63A1EB;
}

footer {
    background-color: #6D91DC;
    margin-top: 121px;
}

.footer-container {
    padding: 32px 52px;
    display: flex;
    justify-content: space-between;
    color: #F8FDFE;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}